<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=results[0].post_title%></h1>
    작성자 : <%=results[0].post_cus%> <br>
    작성날짜 : <%=results[0].post_date%> <br>
    여행날짜 : <%=results[0].post_travel_date%> <br>
    내용 : <%=results[0].post_cont%> 

    <br><a href="/">돌아가기</a>
</body>
</html>